n8n-workflows/incident-triage.json
{
  "name": "Incident Triage",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "alert",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-1",
      "name": "Alert Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "incident-triage"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.severity }}",
              "operation": "equals",
              "value2": "critical"
            }
          ]
        }
      },
      "id": "if-1",
      "name": "Is Critical?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "https://webhook.site/245af15d-71db-4af8-8d16-572734ee3827",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"\ud83d\udea8 CRITICAL alert\",\n  \"alertname\": \"{{ $json.alertname }}\",\n  \"namespace\": \"{{ $json.namespace }}\",\n  \"summary\": \"{{ $json.summary }}\",\n  \"timestamp\": \"{{ $now }}\"\n}",
        "options": {}
      },
      "id": "http-1",
      "name": "Notify Critical",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 200]
    },
    {
      "parameters": {
        "url": "https://webhook.site/245af15d-71db-4af8-8d16-572734ee3827",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"\u2139\ufe0f Non-critical alert (logged only)\",\n  \"alertname\": \"{{ $json.alertname }}\",\n  \"severity\": \"{{ $json.severity }}\"\n}",
        "options": {}
      },
      "id": "http-2",
      "name": "Log Non-Critical",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"received\", \"severity\": \"{{ $json.severity }}\" }"
      },
      "id": "respond-1",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Alert Webhook": {
      "main": [[{ "node": "Is Critical?", "type": "main", "index": 0 }]]
    },
    "Is Critical?": {
      "main": [
        [{ "node": "Notify Critical", "type": "main", "index": 0 }],
        [{ "node": "Log Non-Critical", "type": "main", "index": 0 }]
      ]
    },
    "Notify Critical": {
      "main": [[{ "node": "Respond OK", "type": "main", "index": 0 }]]
    },
    "Log Non-Critical": {
      "main": [[{ "node": "Respond OK", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {},
  "tags": []
}
